<h2>Register</h2>
<div>Welcome... <%= current_user.email %></div>
<%=form_for :profile, url: '/registrations' do |f| %>
<p>
  <%=f.label :first_name%><br>
  <%=f.text_field :first_name%>
</p>
<p>
  <%=f.label :last_name%><br>
  <%= f.text_field :last_name %>
</p>
<p>
  <%=f.label :address%><br>
  <%= f.text_field :address %>
</p>
<p>
  <%=f.label :suburb%><br>
  <%= f.text_field :suburb %>
</p>
<p>
  <%=f.label :state%><br>
  <%= f.select :state, ['VIC', 'NSW', 'Tasmania']%>
</p>
<p>
  <%=f.label :post_code%><br>
  <%= f.text_field :post_code %>
</p>
<p>
  <%=f.label :type%><br>
  <%= f.select :type, ['Donner', 'Volunteer']%>
</p>

<p>
  <%=f.submit%>
</p>
<% end %>
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
