<div class="page-header"><h1>Book Donation Page</h1><h4>Welcome... <%= current_user.first_name+" "+current_user.last_name%></h4>
</div>

<%=form_for :book, url: '/books',html: {class: 'form-horizontal'} do |f| %>
<% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field form-group">
   <%=f.label :title,class: 'col-sm-2 control-label' %>
   <div class="col-sm-10">
   <%=f.text_field :title, class: "form-control"%>
</div>
</div>

<div class="field form-group">
  <%=f.label :author,class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
  <%= f.text_field :author, class: "form-control" %>
</div>
</div>

<div class="field form-group">
  <%=f.label :standard,class: "col-sm-2 control-label" %>
  <div class=" form group col-sm-10">
      <%= f.select :standard, ['University', 'College', 'Highschool'],{:include_blank =>"---Please Select Standard---"},{class: "form-control"}%>
</div>
</div>

<div class="field form-group">
  <%=f.label :subject,class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.select :subject, ['Language', 'Science', 'Engineering','Geography','Math','Education'],{:include_blank =>"---Please Select Subject---"},{class: "form-control"}%>
</div>
</div>

<div class="field form-group">
  <%=f.label :language,class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
  <%= f.select :language, ['English', 'French', 'Amharic'],{:include_blank =>"---Please Select Language---"},{class: "form-control"}%>
</div>
</div>

<div class="field form-group">
  <%=f.label :message,class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
  <%= f.text_area :message, class: "form-control" %>
</div>
</div>

<div class="field form-group">
  <%=f.label :image,class: "col-sm-2 control-label" %>
     <div class="col-sm-10">
     <%= f.file_field :image, class: "form-control" %>
</div>
</div>
<div class="actions form-group">
<div class="col-sm-offset-2 col-sm-10">
  <%=f.submit "Save",class: "btn btn-default btn-primary" %>
</div>
</div>
<% end %>
