<!DOCTYPE html>
<html>
<head>
  <title>BookDonation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <% if user_signed_in? %>

  <h3>you have succesfully signed in</h3>
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  <%= link_to "Register", registrations_new_path, :method => :get %>
  <%= link_to "Donate", books_new_path, :method => :get %>
  <%= link_to "Show Book", books_show_path, :method => :get %>
  <%= link_to "Account Setting", edit_user_registration_path, :method => :get %>


  <% else %>

  <h1> Welcom to book sharing application</h1>
  <%= link_to "Sign In", new_user_session_path, :method => :get %>
  <%= link_to "Sign up", new_user_registration_path, :method => :get %>
  <% end %>

<%= yield %>

</body>
</html>
